﻿@using Client.Models
@model EquationViewModel

<div class="jumbotron">
    <h1>Całkowanie rozproszone</h1>
    <p class="lead">Wpisz równanie w poniższym formularzu, następnie zdefiniuj granice oraz ilość przedziałów.</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal"}))
    {
        <div class="form-group">
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Equation, new { @class="form-control", @placeholder="Równanie"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.LeftBorder, new { @class = "form-control", @placeholder = "Lewa granica" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.RightBorder, new { @class = "form-control", @placeholder = "Prawa granica" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.PartsNumber, new { @class = "form-control", @placeholder = "Liczba przedziałów" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                @Html.CheckBoxFor(m => m.IsDistributed) Rozprosz obliczenia
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <input type="submit" class="btn btn-primary" value="Oblicz" />
            </div>
        </div>
    }
</div>