﻿@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Chart.js")

<div class="jumbotron">
    <h2>Wynik obliczeń: <span id="resultSum"></span></h2>
    <canvas width="960" height="400" id="chart"></canvas>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: '/Home/GetIntegrationResult',
            method: 'GET'
        }).success(function (jsonData, textStatus, jqXHR) {
            //alert(JSON.stringify(data));
            document.getElementById('resultSum').innerText = jsonData.Result;

            var chartData = {
                labels: jsonData.Labels,
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(155,184,224,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: jsonData.Values
                    },
                ]
            };

            var ctx = document.getElementById('chart').getContext('2d');
            var myNewChart = new Chart(ctx).Line(chartData, {
                pointDot: false,
                pointHitDetectionRadius: 0
            });

        }).error(function (jqXHR) {
            alert(JSON.stringify(jqXHR));
        });
    });



</script>


